{% extends 'base.html' %}
{% block content %}
<div class="row align-items-center">
  <div class="col-md-8">
    <h2 class="text-primary">Bienvenido al Sistema de Gestión de Guardería</h2>
    <p class="lead">Administre niños, padres, personal y actividades de manera eficiente y segura.</p>
    <hr>
    <p>Utilice el menú superior para navegar entre las diferentes secciones del sistema.</p>
  </div>
  <div class="col-md-4 text-center">
    <img src="https://img.freepik.com/vector-gratis/ninos-felices-jugando-patio-recreo_1308-32389.jpg" class="img-fluid rounded shadow" alt="Guardería">
  </div>
</div>
{% endblock %}